venv/
.venv/
__pycache__/
*.pyc
.git/
.gitignore
.env
README.md
screenshots/
k8s/
terraform-openstack/
clouds.yaml
**/clouds.yaml
terraform.tfvars
**/terraform.tfvars
*.tfstate
*.tfstate.*
**/*.tfstate
**/*.tfstate.*
*.tfplan
**/*.tfplan
tfplan
**/tfplan
.terraform/
.terraform.lock.hcl
**/.terraform/
**/.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

